.storefront-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  font-family: 'Source Code Pro', monospace;
  background-color: rgb(247, 247, 247);
  align-items: left
  
}
img {
  height: 200px;
  width: auto;
}

.product-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap; 
  margin: 5vh 0;
  /* border-style: solid;
  border-width: 1px; */
  color: black;
  align-items: center
}

.btns {
  background-color: rgb(53, 53, 53);
  color: dodgerblue;
  width: 30%;
  height: 40px;
  display: flex;
  justify-content: space-around;
  border-radius: 10px;
  font-size: 20px
}


.storefront-container h2 {
  font-size: 30px;
  margin: 3vh 0;
}

.storefront-container h3 {
  font-size: 24px;
  margin-bottom: 3vh;
}